/*color pallet:
#e2dac6  #eec
lightgray
hsl(42,32,83)
rgb(226,218,198)

#c0a182  #ca8
rosybrown
hsl(30,32,63)
rgb(192,161,130)

#88987c  #9a8
gray
hsl(94,11,54)
rgb(136,152,124)

*/


.button-nav,
.card-action {
  display: flex;
  flex-wrap: wrap;
}
.button-nav a,
.card-action a {
  margin: 2px;
  flex-grow: 1;
}

#names {
  position: absolute;
  z-index: 4;
  height: 75vh;
  width: 100%;
}
#hero {
  position: relative;
  height: 75vh;
  width: 100%;
  top: -2px;
}
