/*color pallet:
#e2dac6  #eec
lightgray
hsl(42,32,83)
rgb(226,218,198)
#c0a182  #ca8
rosybrown
hsl(30,32,63)
rgb(192,161,130)
#88987c  #9a8
gray
hsl(94,11,54)
rgb(136,152,124)
*/
* {
  font-family: "Roboto",sans-serif; }

body {
  background-color: #d9d9d9; }

button {
  background-color: #c0a182 !important; }

header {
  background-color: #c0a182 !important; }

main .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80vh;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: 120% 120%; }
  main .hero-image img {
    width: 100%;
    height: 100%;
    opacity: 0.3; }

main .cards-well {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start; }
  main .cards-well .rsvp-card {
    flex-basis: 330px;
    width: 330px;
    margin: 25px; }
    main .cards-well .rsvp-card .rsvp-title {
      background-color: #c0a182 !important;
      color: #fff; }
    main .cards-well .rsvp-card .rsvp-form {
      padding-bottom: 5px; }
      main .cards-well .rsvp-card .rsvp-form form .is-focused label {
        color: #c0a182 !important; }
      main .cards-well .rsvp-card .rsvp-form .mdl-textfield .mdl-textfield__label::after {
        background-color: #c0a182 !important; }
      main .cards-well .rsvp-card .rsvp-form .input-field label .mdl-radio__outer-circle {
        border: 2px solid #c0a182 !important; }
      main .cards-well .rsvp-card .rsvp-form .input-field label .mdl-radio__inner-circle {
        background-color: #c0a182 !important; }
    main .cards-well .rsvp-card .rsvp-button button {
      color: #fff; }
  main .cards-well .location-card {
    flex-basis: 330px;
    width: 330px;
    margin: 25px; }
    main .cards-well .location-card .location-title {
      height: 150px;
      width: 100%;
      background-image: url(../images/uclub.jpg);
      background-size: 100% 100%;
      color: #eee; }
      main .cards-well .location-card .location-title h2 {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    main .cards-well .location-card .location-text address,
    main .cards-well .location-card .location-text p {
      font-size: 1.6em; }
    main .cards-well .location-card .location-text p {
      margin: 15px 0 0 0; }
    main .cards-well .location-card .location-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      main .cards-well .location-card .location-buttons button {
        width: 100%;
        margin-bottom: 5px; }

main .registry {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  padding: 20px 0; }
  main .registry h2 {
    width: 100%;
    text-align: center; }
  main .registry p {
    margin: auto 15px;
    padding: 0 30px; }
  main .registry .registry-gifts,
  main .registry .registry-cash {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 375px; }
    main .registry .registry-gifts h3,
    main .registry .registry-cash h3 {
      width: 100%;
      font-size: 2.2em;
      text-align: center; }
    main .registry .registry-gifts a,
    main .registry .registry-cash a {
      width: 90%; }
    main .registry .registry-gifts a.amazon-svg,
    main .registry .registry-cash a.amazon-svg {
      position: relative; }
    main .registry .registry-gifts a.amazon-svg::after,
    main .registry .registry-cash a.amazon-svg::after {
      content: "";
      position: absolute;
      left: 10%;
      bottom: 0;
      height: 3px;
      width: 80%;
      /* or 100px */
      border-bottom: 3px solid #c0a182; }
    main .registry .registry-gifts img,
    main .registry .registry-cash img {
      width: 90%;
      padding: 25px; }

main .photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 0; }
  main .photos .photo-title {
    width: 90%;
    text-align: center;
    background-color: #c0a182;
    color: #fff;
    cursor: pointer; }
    main .photos .photo-title h2 {
      font-size: 2.5em;
      margin-bottom: 0; }
  main .photos p {
    margin-bottom: 0; }
  main .photos .gallery-toggle {
    font-size: 0.8em;
    margin: 0;
    padding: 0; }
  main .photos .gallery-card {
    display: none;
    margin: 10px;
    cursor: pointer; }
    main .photos .gallery-card img {
      width: 100%;
      height: 100%; }

footer {
  padding-bottom: 35px; }
